# базовая авторизация. Шифрование используется на обеих сторонах, но клиент передает пароль не надежно зашифрованным,
# т.к. не используется ключ шифрования
AuthType Basic
# указывает текст подсказки, которая отображается в браузере при входе на защищенную часть сайта
AuthName "Admin Panel"
# Содержит информацию о допустимых именах пользователей и их паролях
AuthUserFile .htpasswd
# директива определяет принцип аутентификации
# любой пользователь, существующий в файле AuthUserFile, и указавший верный пароль, сможет войти
Require valid-user